<main class="page bg-white" id="petratings">
  <div class="container">
    <div class="row">
      <div class="col-md-12 bg-white">

        <div class="container">
          <app-add (addEvent)="addApt($event)"></app-add>
          <!-- capture event when user type -->
          <app-search 
          (queryEvent)="searchApt($event)"
          (orderEvent)="orderApt($event)"
          [orderBy]="orderBy"
          [orderType]="orderType"
          ></app-search>
          <app-list [appointmentList]="modifiedList"
          (deleteEvent) = "deleteApt($event)"          
          (updateEvent) = "updateApt($event)"          
          >
          </app-list>
        </div>

      </div><!-- col-md-12 -->
    </div><!-- row -->
  </div><!-- container -->
</main><!-- main -->